#container {
    width: 800px;
    border: 1px grey;
    height: 100px;
    margin: 0px auto;
}

h1 a {
    font-size: 50px;
    font-weight: 100;
    color: purple;
    text-decoration: none;
}

#header {
    height: 100px;
    padding: 10px 0px;
}

#brand {
    float: left;
}

#searchbox {
    float: right;
    background: linear-gradient(#E4F2B9, #B7E953);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: orange;
    background: white url(images/search.png) right center no-repeat;
}

.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: purple;
}

.clear {
    clear: both;
}
#menu {
        height: 70px;
        background: linear-gradient(yellow, orange);
        padding: 7px 0;
    }
    
    ul {
        list-style: none;
    }
    
    #menu ul li {
        float: left;
        padding: 0px 12px;
        height: 30px;
        border-right: 1px solid blue;
    }
    
    #menu ul li:last-child {
        border-right: none;
    }
    
    #menu ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 17px;
        color: blue;
        line-height: 30px;
        transition: font-size 0.3s ease;
    }
    
    #menu ul li a:hover,
    #menu ul li a:active {
        font-size: 20px;
        font-weight: bold;
        color: blueviolet;
    }
    
    #introduction {
        background: linear-gradient(rgb(74, 211, 74), white);
        padding: 30px;
        margin: 16px 0;
    }
    
    #introduction h3 {
        font-size: 40px;
        color: darkolivegreen;
        font-weight: normal;
    }
    
    #introduction p {
        font-size: 25px;
        color: darkolivegreen;
        text-align: justify;
    }
